/* Keep cards in a row for screens < 750px */
@media (max-width: 750px) {
    .job-metrics-card {
        flex: 1 1 calc(50% - 0.5rem) !important;
        /* 2 per row */
        max-width: calc(50% - 0.5rem) !important;
    }
}

/* Medium screens: shrink cards to fit within parent */
@media (max-width: 992px) {
    .job-metrics-card {
        flex: 1 1 calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);
    }
}